<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- WORLD -->	
  <arg name="world"  default="square_lab"/>
  <!-- ROBOT -->
  <arg name="gzpose" default="-x 0.0  -y   0.0 -z  0.0   -R 0.0 -P 0.0 -Y  0.0" />
  <arg name="tuck_arm"  default="true"/>
  <!-- copied from tiago_108_gazebo/launch/tiago_gazebo.launch to additionally include world and gzpose options -->
  <arg name="arm"  default="True"/>
  <arg name="end_effector"  default="pal-hey5"/>
  <arg name="ft_sensor"  default="schunk-ft"/>
  <arg name="laser_model"  default="sick-561"/>
  <arg name="camera_model"  default="orbbec-astra"/>
  <!-- others -->
  <arg name="use_moveit_camera" default="false"/>

  <include file="$(find tiago_gazebo)/launch/tiago_gazebo.launch" pass_all_args="true"/>
      <include file="$(find tiago_controller_configuration)/launch/wbc_controllers.launch" pass_all_args="true" />

  <!-- spawn a table in a random pose and a bottle on top of it -->
  <node pkg = "tiago_pouring" name = "spawn_objects" type = "spawn_obj.py" />

</launch>